.chat_wrap {
    /* position/size */
    position: relative;
    float: left;
    width: 70%;
    height: 100vh;
    /* style */
    background: rgb(54,57,63);
}

#chat_scrollable_wrap {
    height: 90%;
    overflow: auto;
    overflow-x: hidden; 
}

.conversation {
    display: none;
}

.begin_conv {
    /* position/size */
    width: 100%;
    /* box */
    margin: 20px 0px;
    /* style */
    text-align: center;
    font-style: italic;
}

.monologue {
    /* box */
    margin: 10px 30px;
    padding: 15px 20px;
    /* style */
    border-color: rgb(62,65,71);
    border-width: medium;
    border-top-style: solid;
}

.author {
    padding-bottom: 15px;
    color: rgb(255,255,255);
}

.message {
    /* box */
    padding-bottom: 5px;
    /* text behavior */
    word-wrap: break-word;
    white-space: pre-wrap;
    /* style */
    color: rgb(155,156,160);
    font: 0.8em Tahoma,sans-serif,Arial,Helvetica;
}

#send_message_wrap {
    /* position/size */
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    /* box */
    padding: 20px 50px;
    box-sizing: border-box;
    /* style */
    border-color: rgb(43, 44, 46);
    border-width: medium;
    border-top-style: solid;
    display: none;
}
