.peers_list_wrap {
    /* position/size */
    position: relative;
    float: left;
    width: 15%;
    height: 100vh;
    /* box */
    padding: 10px 20px;
    box-sizing: border-box;
    /* style */
    background-color: rgb(47, 49, 54);
}

.peers_scrollable_wrap {
    height: 100%;
    direction: rtl;
    overflow: auto;
    overflow-x: hidden; 
}

.peers_nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    box-sizing: border-box;
}

.peer_wrap {
    border-bottom: 5px solid #3f3d3d;
    padding: 10px;
    height: 50px;
    float: none;
    position: relative;
    display: block;
    box-sizing: border-box;
}