body {
    max-width: 80%;
    margin: 30px auto;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#peers {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    min-width: 20%;
    max-width: 25%;
    overflow: scroll;
    float: right;
}

#chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    min-width: 60%;
    max-width: 70%;
    float: left;
    overflow: scroll;
}

.message_box {
    border: 2px solid #dedede;
    background-color: #e7c5c5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.peer_box {
    border: 2px solid #dedede;
    background-color: #d6bd87;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 26px;
}

.message_box::after {
    content: "";
    clear: both;
    display: table;
}

.darker {
    border-color: #ccc;
    background-color: #bcc9e5;
}

.message_box::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    clear: both;
}

.left_aligned {
    float: left;
}

.right_aligned {
    float: right;
}

.header {
    height: 30px;
}

input[type=text] {
    width: 250%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    size: 50;
}

.input_message {
    float: left;
}

