.contact_list_wrap {
    /* position/size */
    position: relative;
    float: left;
    width: 15%;
    height: 100vh;
    /* style */
    background-color: rgb(47, 49, 54);
}

#contact_scrollable_wrap {
    height: 93%;
    padding: 10px 20px;
    overflow: auto;
    overflow-x: hidden; 
}

.private_contact_wrap {
    /* positionning/size */
    position: relative;
    /* box */
    padding: 10px 20px;
    margin-bottom: 5px;
    box-sizing: border-box;
    /* style */
    border-radius: 5px;
    background-color: rgb(47, 49, 54);
    color: rgb(105,106,110);
    cursor: pointer;
}

.contact_separator {
    /* box */
    margin: 10px 0px;
    padding: 40px 0px 10px;
    box-sizing: border-box;
    /* style */
    font: 0.8em Tahoma,sans-serif,Arial,Helvetica;
    border-color: rgb(62,65,71);
    border-width: medium;
    border-top-style: solid;
}

#my_info {
    /* positionning/size */
    position: absolute;
    bottom: 0;
    height: 7%;
    width: 100%;
    /* box */
    padding: 10px 10px;
    box-sizing: border-box;
    /* style */
    background-color: rgb(42, 44, 49);
    color: rgb(255,255,255);
}

#my_contact {
    float: left;
    max-width: 80%;
}

#file_explorer {
    float: right;
    width: 20%;
    height: 100%;
    cursor: pointer;
}

#my_address {
    font-size: 0.8em;
}

