body {
    max-width: 80%;
    margin: 30px auto;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #2bb7cf;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.peers {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    min-width: 20%;
    max-width: 25%;
    overflow: scroll;
    float: right;
}

.chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    height: 700px;
    min-width: 60%;
    max-width: 70%;
    float: left;
    overflow: scroll;
}

.message_box {
    border: 2px solid #dedede;
    background-color: #e7c5c5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.peer_box {
    border: 2px solid #dedede;
    background-color: #d6bd87;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    font-size: 26px;
}

.message_box::after {
    content: "";
    clear: both;
    display: table;
}

.darker {
    border-color: #ccc;
    background-color: #bcc9e5;
}

.message_box::after {
    content: "";
    clear: both;
    display: table;
}

.clear {
    clear: both;
}

.left_aligned {
    float: left;
}

.right_aligned {
    float: right;
}

.header {
    height: 30px;
}

input[type=text] {
    width: 250%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    size: 50;
}

.input_message {
    float: left;
}

